#content {
    min-height: 100px;
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: $nav-height;
    z-index: 1;
    pointer-events: none;

    @include sm {
        margin-top: $nav-height + 70px;
    }

    .content-container {
        margin-left: 330px;
        margin-right: 15px;
        pointer-events: all;
        padding-top: 25px;
        padding-bottom: 30px;

        @include sm {
            margin-left: 10px;
            margin-right: 10px;
        }

        h1 {
            margin-bottom: 15px;
                        
            @include sm {
                font-size: 30px;
                text-align: center;
            }
        }

        .content-section {
            min-height: 100px;
            background-color: $secondary-color;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.06) 0.4375rem 0.125rem 1.625rem 0px;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 15px;

            h2 {
                background-image: linear-gradient(to left, #296cd8, #d02fb6);
                background-size: 100%;
                color: $accent-color;
                font-size: 25px;
                text-align: center;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
                text-shadow: #d02fb53f 1px 1px 20px;
            }
            
            @include sm {
                display: block;
            }

            .break {
                width: 100%;
                height: 0;
            }

            .sub-section {
                min-height: 50px;
                border-radius: 10px;
                background-color: $accent2-color;
                color: lighten($color: $accent2-color, $amount: 30);
                margin: 10px;
                flex: 1;
                padding: 15px;
                height: max-content;
                flex-flow: wrap;

                .sub-section-big-icon {
                    font-size: 150px;
                    text-align: center;
                    display: block;
                    margin: 20px;
                    background-image: linear-gradient(to right, #296cd8, #d02fb6);
                    background-size: 100%;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-text-fill-color: transparent;
                }

                .btn-icon-rounded {
                    background-color: darken($color: $accent2-color, $amount: 5);
                }


            }
        }

        input[type="checkbox"] {
            content: ' ';
            font-family: "fontello";
            text-align: center;
            border: 2px solid #eee;
            width: 0.8em;
            height: 0.8em;
            line-height: 0.6em;
            z-index: 1;
            -webkit-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
            margin-right: 5px;
        }

        input[type="submit"] {
            -webkit-appearance: none;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            line-height: 24px;
            font-weight: 800;
            -webkit-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
            white-space: nowrap;
            padding: 1.7em 3.1em;
            letter-spacing: 0;
            height: auto;
            border-width: 0 !important;
            -webkit-border-radius: 4em;
            -ms-border-radius: 4em;
            border-radius: 4em;
            margin:5px;
            outline: none;
        }

        input[type="submit"]:enabled {
            background-image: linear-gradient(to right, #296cd8, #d02fb6);
            color: white;
        }

        input:hover[type="submit"]:enabled
		{  
			background-image: linear-gradient(to right, #2e5491, #882077);
        }
        

        .cancel-button:hover {
            background-color: #313ea5 !important;
        }

        .cancel-button {
            background-color: #4250b2 !important;
            background-image: none !important;
            color:white !important;
            outline: none;
        }

        select {
            width: 100%;
            height: 45px;
            font-size: 19px;
            border-radius: 10px;
            background-image: linear-gradient(to right, #296cd8, #d02fb6);
            color: white;
            font-weight: 600;
            outline: none;
            text-align-last:center;
            border: none;

            option {
                color: black;
            }
        }

        input[type="text"] {
            outline: none;
            width: 100%;
            background-image: linear-gradient(to right, #1f4e98, #652fd0);
            border-radius: 10px;
            height: 45px;
            text-align-last:center;
            color:white;
            font-weight: 600;
            border: none;
        }

        .alert {
           background-image: linear-gradient(to right, #88316d, #9c2121);
        }

        .content-sub {
            text-align: center;
        }

        #clockdiv{
            font-family: sans-serif;
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 30px;
          }
          
          #clockdiv > div{
            padding: 10px;
            border-radius: 3px;
            background: #32395d;
            display: inline-block;
          }
          
          #clockdiv div > span{
            padding: 15px;
            border-radius: 3px;
            background-image: linear-gradient(to right, #296cd8, #d02fb6);
            display: inline-block;
            color:white
          }

          .smalltext{
            padding-top: 5px;
            font-size: 16px;
          }
          
    }

}