$nav-height: 80px;
$nav-heightmobile: auto;

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $nav-height;
    background-color: $secondary-color;
    box-shadow: rgba(0, 0, 0, 0.06) 0.4375rem 0.125rem 1.625rem 0px;
    user-select: none;
    z-index: 100;

    .burger-menu-icon {
        font-size: 40px;
        display: none;
        position: fixed;
        top: 15px;
        right: 15px;
        cursor: pointer;
        z-index: 100;
        transition: 0.2s;

        &:hover {
            color: $accent3-color;
        }

        @include sm {
            display: block;
        }
    }

    @include sm {
        height: $nav-heightmobile;
        padding-bottom: 10px;
    }

    .nav-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        position: relative;
        padding-left: 10px;

        @include sm {
            text-align: center;
        }

        .right-content {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            height: $nav-height;
            padding-right: 10px;

            .break-online-mobile {
                display: none;
            }

            @include sm {
                position: relative;

                .break-online-mobile {
                    margin-top: 5px;
                    display: block;
                }
            }

            .mobile-container {
                @include sm {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    .logo {
        width: 160px;
        display: inline-block;
        transform: translateY(25%) translateX(-30%);
        margin-left: 50px;
        cursor: pointer;

        @include sm {
            transform: translateY(25%) translateX(-20%);
            position: relative;
            margin-bottom: 15px;
        }

        img {
            width: 100%;
        }
    }
}