.p-progress-bar {
    border-radius: 3px;
    height: 10px;
    background-color: #465083;
    transition: 0.2s;
    margin: 3px;

    .inner {
        transition: 0.2s;
        height: 100%;
        border-radius: 3px;
        background-image: linear-gradient(to right, #9a03e6, #0062ff) !important;
    }
}

.content-sub-staking {
    cursor: pointer;
    transition: 0.3s;

    img {
        transition: 0.2s;
    }

    &:hover {
        background-image: linear-gradient(to right, #6b2e8a, #23457b) !important;

        img {
            transform: scale(1.2);
        }
    }
}

.two-col-md {
    display: flex;
    align-items: flex-start;
    
    @include sm {
        display: block;
    }
}

.active-sub-staking {
    background-image: linear-gradient(to right, #6b2e8a, #23457b) !important;
}

.staking-button {
    &:hover {
        background-image: linear-gradient(to right, #6b2e8a, #23457b) !important;
    }
}

.stacking-details {
    .pool-logo {
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;
        border-radius: 100px;
        margin-top: 20px;
    }

    .pool-name {
        display: block;
        margin-top: 5px;
        @include gradient-text;
        font-weight: 600;
        font-size: 30px;
    }

    .sub-text {
        font-size: 14px;
        color: white;
        font-weight: normal;
        display: flex;

        div {
            flex: 1;
            text-transform: uppercase;
            letter-spacing: 2px;
            vertical-align: middle;
            line-height: 45px;
        }

        .arrow-to {
            animation-duration: 1.5s;
            animation-name: slide-infinite;
            animation-iteration-count: infinite;
            animation-direction:alternate;
            margin: 0;

            &.rotated {
                animation-name: slide-infinite-180;
            }
        }

        span {
            @include gradient-text;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 5px;
            vertical-align: middle;
        }
    }
}

#submit-staking {
    padding: 0.7em 6.1em !important;
}


input[type=readonly] {
    height: 39px;
    vertical-align: middle;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #444f81;
    border: none;
    color: white;
    padding-left: 10px;
    min-width: 250px;
}